/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #0c0c0c; /* Dark gradient background */
    color: #fff;
}

/* Header Styles */
header {
    padding: 20px;
    top: 0;
    z-index: 1000;
    background: #0c0c0c; /* Remove header background */
    box-shadow: 0 5px 0 #2a2a2a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-title img {
    width: 130px; /* Adjust logo size */
    height: auto;
}
.site-title img:hover{
    transform: scale(1.08);

}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s;
}

nav ul li a:hover {
    background: #555;
}

.contact-btn {
    background: #7D5DE6;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background 0.3s;
}

.contact-btn:hover {
    background: #9E79F2;
}

/* Responsive Menu Button */
.menu-btn {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.menu-btn div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
}
/* Hero Section Styles */
.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 100px 20px;
    padding-bottom: 350px;
}

.profile-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.profile-pic {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #FFC600;
}
.profile-pic:hover {
    transform: scale(1.1);
}

.intro {
    flex: 2;
    max-width: 600px;
    margin-right: 16%;
}

.intro h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.intro p {
    font-size: 20px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.btn {
    background: #311e6d;
    color: #fff;
    padding: 15px 30px;
    border-radius: 20px;
    text-decoration: none;
    transition: background 0.3s;
}

.btn:hover {
    background: #9E79F2;
}

/* About Section Styles */
.about-section {
    padding: 500px 20px; /* Significantly increased padding for larger section */
    background: #0c0c0c; /* Match background color */
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.about-text {
    flex: 2;
    padding-left: 80px;
    font-size: 20px;
    margin-bottom: 200px;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

.about-pic {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #5d02e5;
}
.about-pic:hover {
    transform: scale(1.1);

}

.about-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 25px;
}

.about-text span {
    font-size: 15px;
}

/* Contact Section Styles */
.contact {
    background: #0c0c0c;
    padding: 100px 50px;
    text-align: center;
    position: relative;
}

.contact-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.contact-header h2 {
    margin: 0 20px;
    font-size: 36px;
}

.social-icon {
    width: 50px; /* Adjust to the size of your icons */
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.social-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

form {
    max-width: 420px;
    margin: 0 auto;
}

.feedback-input {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #7D5DE6;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid #7D5DE6;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: #7D5DE6;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

[type="submit"]:hover {
    background: #a691ea;
}

/* Social Icons Styles */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 0px;
}

.social-icons a {
    display: block;
    width: 50px; /* Adjust to size of the icons */
    height: 50px; /* Adjust to size of the icons */
    border-radius: 50%;
    overflow: hidden;
}

.social-icons img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}

/* Content Section Styles */
.projects-section,
.writeups-section,
.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
    background: transparent; /* Transparent background */
    border-radius: 10px;
}

.projects-section h1,
.writeups-section h1,
.content h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

/* Project Styles */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align the projects */
    gap: 20px;
}

.project, .project2 {
    background: #2a2a2a;
    padding: 15px;
    margin: 20px 0;
    border-radius: 10px;
    transition: transform 0.3s;
    flex: 1 1 calc(33.333% - 40px); /* Flex basis for 3 projects per row with gap */
    max-width: calc(33.333% - 40px); /* Max width to match flex basis */
}

.project:hover, .project2:hover {
    transform: scale(1.05);
}

.project img, .project2 img {
    width: 100%;
    border-radius: 10px;
}

.project h2, .project2 h2 {
    margin: 10px 0;
}

.project p, .project2 p {
    margin: 10px 0;
}

.project .expand-btn, .project2 .expand-btn {
    background: #7D5DE6;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: background 0.3s;
}

.project .expand-btn:hover, .project2 .expand-btn:hover {
    background: #333;
}

.project .project-details, .project2 .project-details2 {
    display: none;
    margin-top: 10px;
}

.project.expanded .project-details, .project2.expanded .project-details2 {
    display: block;
}

/* Footer Styles */
footer {
    background: transparent; /* Transparent background */
    text-align: center;
    padding: 20px 0;
}

/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
    .project, .project2 {
        flex: 1 1 calc(50% - 40px); /* Two projects per row */
        max-width: calc(50% - 40px);
    }
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        padding: 50px 20px;
        padding-bottom: 200px;
    }

    .intro {
        max-width: 100%;
        margin-right: 0;
        text-align: center;
    }

    .profile-pic {
        width: 230px;
        height: 230px;
    }
    .buttons{
        padding-left: 28%;
        }
    .intro h1 {
        font-size: 34px;
    }

    .intro p {
        font-size: 16px;
    }

    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-text {
        padding-left: 0;
        margin-bottom: 20px;
    }

    .about-pic {
        width: 250px;
        height: 250px;
        margin-bottom: 20px;
    }

    .project, .project2 {
        flex: 1 1 100%; /* One project per row */
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .site-title {
        font-size: 20px;
        text-align: left;
    }
    .nav-links {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 80px;
        right: 0;
        background: #0c0c0c;
        width: 150px;
        height: 100%;
        padding-top: 50px;
        gap: 40px;
    }
    .menu-btn {
        display: block;
    }
    header {
        padding: 10px 20px;
    }
    .nav-links li {
        width: 100%;
    }

    .nav-links li a,
    .nav-links li a:hover {
        padding: 30px;
        font-size: 18px;
    }
    
    .contact-btn, 
    .contact-btn:hover {
        background-color: transparent;
    }

    nav ul {
        display: none;
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap: 10px;
    }

    nav ul.active {
        display: flex;
    }

    .menu-btn {
        display: flex;
    }

    .intro h1 {
        font-size: 28px;
    }

    .intro p, .about-text p, .about-text span {
        font-size: 16px;
    }

    .profile-pic, .about-pic {
        width: 200px;
        height: 200px;
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
        padding-left: 0%;
            
    }

    .btn {
        padding: 10px 20px;
    }

    .project, .project2 {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .contact h2, .about-text h2, .projects-section h1, .writeups-section h1, .content h1 {
        font-size: 28px;
    }

    .feedback-input {
        font-size: 16px;
    }

    [type="submit"] {
        font-size: 20px;
    }

    .social-icons {
        top: 200px;
        right: 5px;
    }

    .social-icons a {
        width: 40px;
        height: 40px;
    }
}
